body{
    height: 100%;
    background-color: rgb(44, 43, 43);
}

.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
}
.text{
    color: aliceblue;
    font-family: monospace;
    font-size: 18px;
}


h1{
    margin: 50px;
    text-align: center;
    color: goldenrod;
}


nav{
    margin: 0%;
    background-color: gold;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gold;
   
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: goldenrod;
  }